<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      }
    ],
    href: "https://www.nhs.uk/mental-health/",
    text: "Mental health"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1>Mental health support for children and young people</h1>
        <p><b>If you’re a child or young person and think you might need help for how you are feeling (your mental health) there are NHS-funded services that can help.</b></p>
        <p>There are also lots of charities and organisations that you can go to for support.</p>
        <p>If you’re a parent or carer, you can read more here about the help available to children and young people, and how they can access it. You can also find out what support is available to you.</p>
      </div>

      <article>
        <div class="nhsuk-u-reading-width"></div>
          <div class="nhsuk-u-reading-width">
            <section>
              <ul class="nhsuk-hub-key-links beta-hub-key-links">
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a class="app-related-nav__link" href="/getting-help-from-the-NHS">
                      Getting help from the NHS
                    </a>
                  </li>
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                    <a class="app-related-nav__link" href="/charities-and-other-services">
                      Charity and other services
                    </a>
                  </li>
                  <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                  <a class="app-related-nav__link" href="/support-for-parents">
                    Information for parents and carers
                  </a>
                  </li>
              </ul>
            </section>
            {% include "includes/urgent-care-card.html" %}
            <div class="nhsuk-u-margin-top-6 nhsuk-hub-after-key-links"></div>
              <div>
                <div class="nhsuk-u-margin-top-6 ">
                  <div class="beta-hub-related-links-title">
                    <h2 class="nhsuk-heading-s ">Related information</h2>
                  </div>
                  <ul class="beta-hub-related-links">
                    <li class="beta-hub-related-links__list-item">
                      <a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/" title="NHS - Feelings, symptoms and behaviours">
                        Feelings, symptoms and behaviours
                      </a>
                    </li>
                    <li class="beta-hub-related-links__list-item">
                      <a href="https://www.nhs.uk/mental-health/advice-for-life-situations-and-events/" title="NHS - Advice for life situations and events">
                        Advice for life situations and events
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="nhsuk-u-margin-top-6 ">
                  <div class="beta-hub-related-links-title" title="">
                    <h2 class="nhsuk-heading-s ">Useful resources</h2>
                  </div>
                  <ul class="beta-hub-related-links">
                    <li class="beta-hub-related-links__list-item">
                      <a href="ttps://www.youngminds.org.uk/" title="">YoungMinds</a>
                      <div>https://www.youngminds.org.uk/<div>
                    </li>
                    <li class="beta-hub-related-links__list-item">
                      <a href="https://www.childline.org.uk/" title="">Childline</a>
                      <div>https://www.childline.org.uk/<div>
                    </li>
                    <li class="beta-hub-related-links__list-item">
                      <a href="https://www.nhs.uk/every-mind-matters/">Every Mind Matters</a>
                      <div>https://www.nhs.uk/every-mind-matters/</div>
                    </li>
                  </ul>
                </div>
                <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
                  Page last reviewed: 13 July 2022<br>
                  Next review due: 13 June 2024
                </p>
              </div>
      </article>
    </div>
  </div>
  </main>

      <!-- End of content -->

{% endblock %}
