{% set arr = [
  {title: "Seeking help - what you need to do", id: 1,  url: "/seeking-help", position: 1 },
  { title: "Having a conversation with a mental health professional", id: 2,  url: "/having-a-conversation", position: 2 },
  { title: "Getting advice and help for your needs", id: 3,  url: "/getting-advice", position: 3 },
  { title: "Waiting for help", id: 4,  url: "/waiting-for-help", position: 4 },
  { title: "Moving on", id: 5,  url: "/moving-on", position: 5 }
  ] %}

<h2 class="">
  More steps for getting help
</h2>
<ol class="app-step-nav__steps app-step-nav__mini_steps">
<!-- step 1 -->
{% for item in arr %}
      <li class="app-step-nav__step js-step" id="referral" >
        <div class="app-step-nav__header js-toggle-panel" data-position="1">
          <h4 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="nhsuk-u-visually-hidden">Step</span> {{ item.position }}
                </span>
              </span>
            </span>
            <span class="js-step-title {% if page_title == item.title %} beta-hub-sibling-nav--current {% endif %}">
              <!--Getting referred-->
              {% if page_title == item.title %}{% else %}<a href="{{ item.url }}">{% endif %}{{ item.title }}{% if page_title == item.title %}{% else %}</a>{% endif %}
            </span>
          </h4>
        </div>
        <div class="app-step-nav__panel js-panel js-hidden" id="referral-1">
          <div class="app-step-nav__paragraph"></div>
        </div>
      </li>
{% endfor %}
    </ol>
