{% set arr = [
  { title: "Getting a referral", id: 1,  url: "/referrals" },
  { title: "Working out what support you need", id: 2,  url: "/working-out-what-you-need" },
  { title: "Getting support", id: 3,  url: "/getting-support" },
  { title: "Moving on", id: 4,  url: "/moving-on" }] %}

<aside class="nhsuk-grid-column">
<div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
  <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
    More in <a href="/getting-help-from-the-NHS">Getting help from the NHS</a>
  </h2>
  <nav role="navigation" class="app-related-nav__nav-section">
    <ul class="app-related-nav__list beta-hub-sibling-nav__list">
      {% for item in arr %}
      <li class="beta-hub-sibling-nav__item {% if page_link == item.title %} beta-hub-sibling-nav--current {% endif %}">{% if page_link == item.title %}{% else %}<a href="{{ item.url }}">{% endif %}{{ item.title }}{% if page_link == item.title %}{% else %}</a>{% endif %}</li>
      {% else %}
      <li class="beta-hub-sibling-nav__item">Nothing to see here</li>
      {% endfor %}
    </ul>
  </nav>
</div>
</aside>
