// ==========================================================================
// COMPONENTS / #LIST-BORDER
// ==========================================================================

.nhsuk-card-group--cypmhs {
  .nhsuk-card {
    margin-bottom: 1rem !important;
  }

  .nhsuk-details {
    margin-bottom: 3rem !important;
  }
}

.app-brightcove-video{

  background-color: #fff;
  border-bottom: 1px solid #d8dde0;
  margin-left: 0;
  margin-right: 0;
}

.app-brightcove-video--date{
  font-size: .875rem;
  line-height: 1.71429;
  color: #4c6272;
  padding: 16px;
}
