<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set parent_page_title = "Children and young people's (CYP) mental health services" %}
{% set page_title = "Information on CAMHS" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "/",
        text: "Mental health support for children and young people"
      }
    ],
    href: "/cypmh-services",
    text: "Children and young people's (CYP) mental health services"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ page_title }}
      <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">Children and young people's mental health</span>-->
    </h1>


    <p><b>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</b></p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
    {% include "includes/urgent-care-card.html" %}

    <h2>Heading 2</h2>
    <p>There are different types of support available depending on what help you need and what is available in your local area.</p>
    <p>Et harum quidem rerum facilis est et expedita distinctio:</p>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
    <div>
      <section>

        <!-- 1st task -->
        {% from 'details/macro.njk' import details %}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "Expander heading",
            "HTML": "

            "
          }) }}


          <!-- 2nd task -->
          {% from 'details/macro.njk' import details %}
            {{ details({
              "classes": "nhsuk-expander",
              "text": "Expander heading",
              "HTML": "

              "
            }) }}


            <!-- 3rd task -->
            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "Expander heading",
                "HTML": "

                "
              }) }}

              <!-- 4th task -->
              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Expander heading",
                  "HTML": "

                  "
                }) }}

              {% from 'details/macro.njk' import details %}

              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Expander heading",
                  "HTML": "

                  "
                }) }}


            </section>
          </div>



  </div>
</div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
