<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- Set the page title -->
{% block pageTitle %}
  Getting a referral for support
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {% from 'breadcrumb/macro.njk' import breadcrumb %}
  {{ breadcrumb({
  items: [
    {
      href: "https://www.nhs.uk",
      text: "Home"
    },
    {
      href: "https://www.nhs.uk/mental-health/",
      text: "Mental health"
    },
    {
      href: "triage_steps",
      text: "Mental health services for young people"
    }
  ],
  href: "#",
  text: "Getting a referral for support"

  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<h1>
    Getting a referral for support
</h1>
<p>For most NHS children and young people’s mental health services (CYPMHS) you’ll need a referral from a professional such as a GP or teacher. </p>
<p>
  A referral is when a professional puts you in contact with a specialist service that can offer you help,
  support and treatment specific to your issues. Some services accept self-referrals, which is where you
  contact the service yourself.
</p>
<p>Getting help from a specialist CYPMHS is different depending on where you live and waiting times can vary too.</p>
<p>Here are some steps you can take to try and get the right support for you</p>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Speak to your GP
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class='govuk-body'>Your GP can refer you to specialist services called children and young people’s mental health services (CYPMHS).</p>
        <p class='govuk-body'>Make sure you give them as much information as you can about how you’ve been feeling, so they can refer you to the right service or support for you.</p>
        <p class='govuk-body'>If you are under 16, you may need your parent or carer’s consent to be referred.</p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Find out who else can refer you – or if you can refer yourself
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class='govuk-body'>Other professional like teachers, school workers and social workers can also refer you to children
           and young people’s mental health services. And you may also be able to refer yourself or your child.</p>
        <p class='govuk-body'>You can use a search engine (such as Google) to search for children and young people’s mental health services (CYMPHS)
          in your area. You may also see these referred to as children and adolescent mental services (CAMHS).</p>
        <p class='govuk-body'>Most children and young people’s mental health services have their own website,
          which has information about who can refer you, or your child. and who to contact.</p>
        <p class='govuk-body'>You can also look at your local clinical commissioning group (CCG) website and search
           for children and young people's mental health services there.</p>
        <a href="https://www.nhs.uk/service-search/other-services/Clinical%20Commissioning%20Group/LocationSearch/1" class='govuk-body'>Find clinical commissioning groups (CCGs) in your area</a>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Ask how long you’ll have to wait before you hear from the service
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
        <p class='govuk-body'>Once a referral has been made to a service, ask your referrer, or contact the service, to find out how long the wait might be. </p>
        <p class='govuk-body'>Getting support from CYPMHS can differ depending on the waiting list for the area that you live in. There is usually
           a short wait to be contacted for an initial assessment but then you may
           have to wait weeks or months to actually start receiving support. </p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Look after yourself while you’re waiting for support
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
        <p class='govuk-body'>If there is going to be a long wait for support, look at your support network to make sure that you’ve got
          people around you that you can talk to who are aware that you are experiencing difficulties. </p>
        <p class='govuk-body'>Self-care options can be helpful to help you try to manage your difficulties whilst you wait to be seen. </p>
        <p class='govuk-body'>
          The following organisations have lots of information and tips about how to look after your self</p>
        <li class='govuk-body'>Anna Freud Centre</li>
        <li class='govuk-body'>Young Minds</li>
        <p class='govuk-body'>If your situation changes or deteriorates, then you should go back to the service to let them know what has changed as
          this may change the amount of time you have to wait to be seen.</p>
        <p class='govuk-body'>You can also <a href="">get urgent help if you need it.</a></p>
      </div>
    </div>
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              What to do if you’re struggling to access support services
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class='govuk-body'>If you can’t get a referral from your GP, you could try asking another GP or finding out who else can refer you (see above).
             It may be useful to know the <a href="">criteria that GPs use to refer children and young people to specialist services</a></p>
          <p class='govuk-body'>If you’ve been referred but have not been offered support after an initial assessment, this can feel disappointing and frustrating.</p>
          <p class='govuk-body'>Just because this particular service wasn’t able to help doesn’t mean there isn’t another one that can. </p>
          <p class='govuk-body'>It is important to remember that the service will have considered your referral carefully before letting you know they are unable to help.
             It might be that they are just too full at the moment and think you need support
             faster than they can offer it, or that they don’t provide the sort of help that might be best for you. </p>
          <p class='govuk-body'>Go back to your referrer and discuss other options with them. It will help if you have a record of why the service
            have said they can’t help, even if it’s just a few notes.</p>
          <p class='govuk-body'>You can also do your own research for other services – Anna Freud’s <a href="https://www.annafreud.org/on-my-mind/youth-wellbeing/">Youth Wellbeing Directory</a>
            might be a good starting point.</p>
        </div>
      </div>
  </div>

      <h2>Where to get urgent help</h2>
      <p>If you or a loved one are struggling and facing a mental health crisis, you can call your local NHS urgent mental health helpline any time of day or night.</p>
      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Find a local NHS urgent mental health helpline",
        "href": "https://www.nhs.uk/service-search/mental-health/find-an-urgent-mental-health-helpline"
      }) }}


      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Page last reviewed: 15 March 2021<br>
        Next review due: 15 March 2024
      </p>

      <!-- End of content -->

</div>
{% endblock %}
