<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set topic_title = "Mental health support for children and young people" %}
{% set page_title = "Getting help from the NHS" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/",
    text: "Mental health support for children and young people"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Getting help from the NHS
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health support for children and young people</span>
    </h1>


    <p><b>If you’re a child or young person and struggling with how you are feeling (your mental health) you’re not alone.</b></p>
    <p>The NHS provides mental health services for children and young people who need professional support to manage their mental health.</p>
    <p>These services are usually for anyone under 18, although you may be able to use some services up to the age of 25.</p>
    {% include "includes/urgent-care-card.html" %}
  
    <h2>Support for children and young people</h2>
    <p>There are different types of support available depending on what help you need and what is available in your local area.</p>
    <p>You may be able to get NHS-funded support though:</p>
    <ul>
      <li>your school or college</li>
      <li>your local authority </li>
      <li>voluntary organisations</li>
      <li>directly from the NHS, through children and young people’s mental health services (CYPMHS).</li>
    </ul>
    <p>You can ask your GP, school or college what help is available to you.</p>

    <h2>How do children and young people’s mental health services work?</h2>
    <p>Children and young people’s mental health services (CYMPHS) cover a wide range of mental health needs and offer treatment and support including talking therapies such as counselling, family therapy and medicines.</p>
    <p>You may more commonly hear these services called children and adolescent mental health services (CAMHS).</p>
    <p>There are local CAMHS services around the UK, with teams that include nurses, therapists, psychologists, psychiatrists, youth workers and social workers.</p>
    <p>Services might be different depending on where you live. But the steps to getting help are usually the same for everyone. These are:</p>


{% include "includes/sub-topic-nav.html" %}
  </div>
</div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
