<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set base_path = "../../" %}
{% set page_title = "Getting support" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "/",
        text: "Mental health support for children and young people"
      }
    ],
    href: "/getting-help-from-the-NHS",
    text: "Getting help from the NHS"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Getting support
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Getting help from the NHS</span>
    </h1>
    <p><b>Just as we go to the doctors when we are physically ill, sometimes we need extra help with our mental health.</b></p>
    <p>If you’re going to receive support for your mental health, it can be helpful to know a bit more about what to expect.</p>

    {% include "includes/urgent-care-card.html" %}
        <div>
          <section>

            <!-- 1st task -->
            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "What types of support are available?",
                "HTML": "
                <p>When you are referred to CAMHS for support, you will have a conversation about to work out what support is most suitable for you. This might include the following:</p>
                <h3>Self-management</h3>
                <p>This is learning ways to manage your mental health by yourself. It is sometimes known as self-care. If your local CAMHS service suggests that you try self-management, they will give you the information and tools you need to support yourself.</p>
                <p><a href=\"https://www.youngminds.org.uk/young-person/coping-with-life/self-care/?gclid=CjwKCAjwk_WVBhBZEiwAUHQCmYe6qTQo2PgxQpSmBGLy_qQarpkFU17Jfa_T-yO0BtKWhK_2nWGcphoC2L8QAvD_BwE#Whatisselfcare\" title=\"Young minds - What is self-care?\">YoungMinds has lots of information and ideas to help you look after yourself</a></p>

                <h3>Talking therapies</h3>
                <p>This is where you talk to a professional about your thoughts, feelings and behaviour. There are different types of talking therapies, such as counselling or cognitive behavioural therapy (CBT).</p>

                <h3>Family therapy</h3>
                <p>Family therapy is where the members of a family come together to find new ways of dealing with any difficulties, and changes to improve relationships and behaviours.</p>

                <h3>Creative therapy</h3>
                <p>Creative therapy is a type of psychotherapy that uses art or other creative activities as a way of communicating difficult, confusing or distressing feelings.</p>
                <p>Play therapy is a type of creative therapy used with younger children to help them express how they are feeling.</p>

                <h3>Medicines</h3>
                <p>Taking medicine can help some people cope with how they are feeling. Medicines for your mental health are usually only prescribed by a type of doctor called psychiatrist. </p>
                <p><a href=\"https://www.youngminds.org.uk/young-person/medications\" title=\"Young minds - Medication guides\">The YoungMinds website has lots of information about medicines for your mental health.</a></p>

                <h3>Specialist services</h3>
                <p>CAMHS offers specialist support for some mental health needs, for example if you have an eating disorder or are self-harming. These services may offer a range of therapies, depending on your needs.</p>
                "
              }) }}


              <!-- 2nd task -->
              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Who will support me?",
                  "HTML": "
                  <p>Depending on your mental health needs, you may see one or more of the following mental health professionals:</p>
                  <ul>
                    <li><b>child and adolescent psychiatrists</b> – doctors who specialise in children and young people’s mental health</li>
                    <li><b>clinical psychologists</b> – health professionals trained to support wellbeing and emotional development.</li>
                    <li><b>child psychotherapists</b> - trained therapists who help children deal with their emotional and mental health.</li>
                    <li><b>family therapists</b> - trained therapists who work with children and their families together</li>
                    <li><b>social workers</b> - help children and families needing extra support or help to keep them safe.</li>
                    <li><b>mental health practitioners</b></li>
                  </ul>
                  <p>Your local CAMHS team may also include, child doctors (paediatricians), educational psychologists, art therapists, and speech and language therapists.</p>
                  "
                }) }}


                <!-- 3rd task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Where will I get support?",
                    "HTML": "
                    <p>This will depend on what you are offered. There are a range of places that offer mental health support for children and young people. These include:</p>
                    <ul>
                      <li>community CAMHS clinics </li>
                      <li>out-patient clinics or alongside paediatricians in general hospitals</li>
                      <li>specialised in-patient, day patient or outpatient units </li>
                      <li>schools and some GP surgeries</li>
                      <li>social services or youth offending services </li>
                      <li>children’s centres</li>
                    </ul>
                    <p>You may also be able get support at home if you need it.</p>
                    "
                  }) }}

                  <!-- 4th task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "How long will I get support for?",
                    "HTML": "
                    <p>You will get support for as long as you need it. Sometimes a few sessions will be enough to help you back on track. And sometimes you may need support for longer.</p>
                    <p>You will always be involved in working out how much support you need.</p>
                    <p>At some point you may need to move on from getting support. <a href=\"/moving-on\" title=\"\">Read more about moving on from getting support</a>.</p>
                    "
                  }) }}

                  {% from 'details/macro.njk' import details %}

                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "What can I do if I don’t think the support is right for me?",
                    "HTML": "
                    <p>If you don’t think the support you are getting is working for you, you can discuss this with your therapist or CAMHS team. There may be other options or therapists available to you.</p>
                    <p><a href=\"https://www.childline.org.uk/info-advice/your-feelings/mental-health/child-adolescent-mental-health-services/\" title=\"Childline - Child and adolescent mental health services (CAMHS)\">Childline has some useful information on getting the support you need</a></p>
                    "
                  }) }}

                  <!--{{ details({
                    "classes": "nhsuk-expander",
                    "text": "Helpful resources",
                    "HTML": "
                    <p><a href=\"https://www.annafreud.org/on-my-mind/receiving-support/\" title=\"Anna Freud - Receiving support\">The Anna Freud Centre has lots of information for when you are receiving support</a></p>
                    "
                  }) }}-->
                </section>
              </div>
              <div class="nhsuk-u-margin-top-6 ">
                <div class="beta-hub-related-links-title" title="">
                  <h2 class="nhsuk-heading-s ">Helpful resources</h2>
                </div>
                <ul class="beta-hub-related-links">
                  <li class="beta-hub-related-links__list-item">
                    <a href="https://www.annafreud.org/on-my-mind/receiving-support" title="">Anna Freud - Receiving support</a>
                    <div>https://www.annafreud.org/on-my-mind/receiving-support<div>
                  </li>
                </ul>
              </div>
              {% include "includes/mini-step-nav.html" %}
      <!-- End of content -->
    </div>
  </div>
{% endblock %}
