<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set topic_title = "Mental health support for children and young people" %}
{% set page_link = "Getting help from the NHS" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/",
    text: "Mental health support for children and young people"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Getting help from the NHS
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health support for children and young people</span>
    </h1>


    <p><b>If you’re a child or young person and struggling with how you are feeling (your mental health) you’re not alone.</b></p>
    <p>The NHS provides mental health services for children and young people who need professional support to manage their mental health.</p>
    <p>These services are usually for anyone under 18, although you may be able to use some services up to the age of 25.</p>
    {% include "includes/urgent-care-card.html" %}
  <div>
    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
    <!-- step 1 -->
          <li class="app-step-nav__step js-step" id="referral" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Getting referred
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="referral-1">
              <div class="app-step-nav__paragraph">
                <p class="app-step-nav__paragraph">To use NHS-funded mental health services, you will either need a referral from a GP, teacher, social worker or youth worker. Or you may be able to refer yourself (or your parent or carer can refer you).<p>
                <p class="app-step-nav__paragraph"><a href="/referrals">Find out more about how you can get a referral</a></p>
              </div>
            </div>
          </li>
    <!-- step 2-->
          <li class="app-step-nav__step js-step" id="need" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Working out what help you need
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="need-2">
              <p class="app-step-nav__paragraph">After you’ve been referred, the mental health service will look at your personal information and think about what support you might need (this is called triage).</p>
              <p class="app-step-nav__paragraph">They may get in touch with you, or the person who referred you, to find out more information to help them make that decision. </p>
              <p class="app-step-nav__paragraph">You may then be offered an appointment to talk to a mental health professional. Or you may be referred to a different service. You may also be given information and resources so you can do things on your own to help yourself, called self-management.</p>
              <p class="app-step-nav__paragraph"><a href="/working-out-what-you-need">Read more about working out what help you need</a></p>
            </div>
          </li>

          <!-- step 3 -->
          <li class="app-step-nav__step js-step" id="waiting" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Waiting for support
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="waiting-2">
              <p class="app-step-nav__paragraph">If you are referred to NHS-funded services, you may have to wait before you are seen by, or hear from, the service.</p>
              <p class="app-step-nav__paragraph">This can be frustrating if you are struggling with how you are feeling, or if you are a parent or carer and want your child or young person to get help sooner.</p>
              <p class="app-step-nav__paragraph">There are things you can do while you’re waiting, including:</p>
              <ul>
                <li>contacting charity services for support, </li>
                <li>asking about  ways to help manage how you are feeling (self-management).</li>
                <li>asking if there are any digital services available</li>
              </ul>
              <p class="app-step-nav__paragraph"><a href="/charities-and-other-services" title="non nhs services">Find you what support is available from charities</a> or <a href="https://www.nhs.uk/nhs-services/mental-health-services/where-to-get-urgent-help-for-mental-health/" title="Find out where to get urgent help">get urgent help</a>.</a></p>
            </div>
          </li>

    <!-- step 4 -->
          <li class="app-step-nav__step js-step" id="getting" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Getting support
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="getting-2">
              <p class="app-step-nav__paragraph">The support you are offered will depend on what mental health needs you have and how thy affecting your daily life. It might include self-help resources, therapies such as counselling and cognitive behavioural therapy (CBT), or medicines.</p>
              <p class="app-step-nav__paragraph"><a href="/getting-support">Find out more about getting support</a></p>
            </div>
          </li>

          <!-- step 5 -->
          <li class="app-step-nav__step js-step" id="moving" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Moving on
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="moving-2">
              <p class="app-step-nav__paragraph">At some point you may move on from the support or treatment you are getting, This might be because:</p>
              <ul>
                <li>You no longer need the same support</li>
                <li>Something has changed and you may need support from a different service </li>
                <li>You are over 18 and adult mental health services may be more suitable for you</li>
              </ul>
              <p class="app-step-nav__paragraph">Moving on from the support you know can be scary and you may need extra help and information during this time.</p>
              <p class="app-step-nav__paragraph"><a href="/moving-on">Find out more about moving on from CAMHS</a></p>
            </div>
          </li>

        </ol>
      </div>
    </div>
    <h2>Support for children and young people</h2>
    <p>There are different types of support available depending on what help you need and what is available in your local area.</p>
    <p>You may be able to get NHS-funded support though:</p>
    <ul>
      <li>your school or college</li>
      <li>your local authority </li>
      <li>voluntary organisations</li>
      <li>directly from the NHS, through children and young people’s mental health services (CYPMHS).</li>
    </ul>
    <p>You can ask your GP, school or college what help is available to you.</p>

    <h2>How do children and young people’s mental health services work?</h2>
    <p>Children and young people’s mental health services (CYMPHS) cover a wide range of mental health needs and offer treatment and support including talking therapies such as counselling, family therapy and medicines.</p>
    <p>You may more commonly hear these services called children and adolescent mental health services (CAMHS).</p>
    <p>There are local CAMHS services around the UK, with teams that include nurses, therapists, psychologists, psychiatrists, youth workers and social workers.</p>
    <p>Services might be different depending on where you live. But the steps to getting help are usually the same for everyone. These are:</p>


{% include "includes/sub-topic-nav.html" %}
  </div>
</div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
