<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set base_path = "../../" %}
{% set page_title = "Moving on" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "/",
        text: "Mental health support for children and young people"
      }
    ],
    href: "/getting-help-from-the-NHS",
    text: "Getting help from the NHS"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Moving on
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Getting help from the NHS</span>
    </h1>
    <p><b>At some point you may move on from getting support from CAMHS.</b></p>
    <p>This might be because:</p>
    <ul>
      <li>You no longer need the same amount of support</li>
      <li>A different type of support is more suitable </li>
      <li>You are over 18 and adult mental health services may be more suitable for you</li>
    </ul>
    <p>Moving on from the support you know can be scary and you may need extra help and information during this time.</p>
      {% include "includes/urgent-care-card.html" %}
        <div>
          <section>
            <h2>Changing or finishing your support and treatment</h2>
            <p>If you’re receiving support for your mental health, you’ll regularly talk about your progress and how things are going. </p>
            <p>If it’s decided that you no longer need as much support, or need support from a different service, your CAMHS team will help support you to move on (transition).</p>

            <!-- 1st task -->
            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "You’ll be given time to prepare",
                "HTML": "
                <p>Your CAMHS team should talk to you about leaving CAMHS 3 to 6 months before you go. This will help give you time to prepare for moving on.</p>
                <p>You will probably have lots of questions, so make sure you ask your CAMHS team about anything you are worried about.</p>
                <p><a href=\"https://www.annafreud.org/on-my-mind/receiving-support/moving-on/\" title=\"The Anna Freud centre - Moving on \">The Anna Freud centre has lots of information about moving on from support</a>, including answers to common questions.</p>
                "
              }) }}

              <!-- 2nd task -->
              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "You’ll make a plan",
                  "HTML": "
                  <p>You will work together with your CAMHS team to make a plan, including:</p>
                  <ul>
                    <li>what to do if you need help from CAMHS again</li>
                    <li>who to contact in a crisis, or if you need urgent support</li>
                    <li>ways to help manage your mental health yourself (self-management)</li>
                  </ul>
                  <p><a href=\"https://www.annafreud.org/media/15030/my-self-care-plan-secondary.pdf\" title=\"Anna Freud Centre- self care PDF\">You could use Anna Freud’s self-care plan (PDF) as a guide to supporting yourself.</a></p>
                  "
                }) }}


                <!-- 3rd task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Transferring your care",
                    "HTML": "
                    <p>If you’re moving on to a different service, your CAMHS team will share information about you so that the new service will know about:</p>
                    <ul>
                      <li>what work you've done</li>
                      <li>what difficulties you may have experienced</li>
                      <li>what's helped you </li>
                      <li>how you hope the the new service could help</li>
                    </ul>
                    <p>This will only be done with your permission and consent.</p>
                    "
                  }) }}
                <!-- 4th task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Build your support network",
                    "HTML": "
                    <p>During this time, it can be a good idea to think about where else you can get support if you need it. This might be from friends, family, your school or other mental health services.</p>
                    <p>Read about the different types of support you could get from <a href=\"charities-and-other-services\" title=\"NHS CYPMHS charities and other services information\">charities and other services</a></p>
                    "
                  }) }}

                  <!-- 5th task -->
                  {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "If you don’t want to leave CAMHS",
                    "HTML": "
                    <p>If you don’t feel you are ready to move on, talk to your CAMHS team about this. Let them know about any concerns you have, especially if there is anything you haven’t felt able to tell them before and why you feel you still need support.</p>
                    <p>If it’s not possible to keep receiving support from CAMHS, they should let you know about other support and services available to you when you leave.</p>
                    <p>Read about the different types of support you could get from <a href=\"charities-and-other-services\" title=\"NHS CYPMHS charities and other services information\">charities and other services</a></p>
                    "
                  }) }}
                </section>
                <hr />
                <section>
                  <h2>Moving on to adult mental health services</h2>
                  <p>When you reach 18, and if you still need support for your mental health, your CAMHS team will talk to you about moving on to adult mental health services (AMHS)</p>
                  <p>This usually happens at 18 but in some areas this transition may happen at 16 or 21.</p>
                  <!-- 1st task -->
                  {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "You’ll be given time to prepare",
                    "HTML": "
                    <p>Your CAMHS team should talk to you about moving on to adult mental health services at least 6 months before you go. </p>
                    <p>This will help give you time to prepare and ask any questions you have, including:</p>
                    <ul>
                      <li>Who will be involved in your care</li>
                      <li>If your family will still be involved</li>
                      <li>Whether there will be a wait for support</li>
                    </ul>
                    "
                  }) }}
                  <!-- 2nd task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "You’ll make a plan",
                    "HTML": "
                    <p>If you're moving to Adult Mental Health Services, you should be under something called the Care Programme Approach (CPA).</p>
                    <p>This means you should have:</p>
                    <ul>
                      <li>a care co-ordinator –someone who manages your care and is the person to contact if you have questions</li>
                      <li>a care plan – this says what treatment and support you need, who will provide that support, and the support you might need in a crisis. You should be given a written copy of this plan.</li>
                    </ul>
                    <p>If you're not sure whether you're under the CPA plan, or have not been given a written copy of your care plan, speak to someone in your CAMHS team.</p>
                    "
                  }) }}
                  <!-- 3rd task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Your appointment with adult mental health services (AMHS)",
                    "HTML": "
                    <p>Your CAMHS team should refer you for an appointment with AMHS. If you don’t hear anything, check to make sure this happening.</p>
                    <p>This appointment is to help work out what support you need, and to see if you are eligible for adult mental health services.</p>
                    <p>There should be someone from your CAMHS team at this appointment.</p>
                    "
                  }) }}
                  <!-- 4th task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Adult mental health services",
                    "HTML": "
                    <p>If you are eligible for adult services, your CAMHS worker should help you through the process of moving from one service to the other.</p>
                  <p>This might include sharing information about you with adult mental health services. This will only be one with your permission and consent.</p>
                    <p>Adult mental health services offer some similar types of treatment and support to children’s and young people’s services, such as talking therapies, self-management support and medication. But the way the services work can be quite different.</p>
                    <p>Ask your CAMHS team to talk you though what might be different for you.</p>
                    <p><a href=\"https://www.nhs.uk/nhs-services/mental-health-services/\" title=\"NHS - Mental health services\">Read more about adult mental health services</a></p>
                    "
                  }) }}
                  <!-- 5th task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "What happens if I can't get help from the NHS as an adult",
                    "HTML": "
                    <p>If you’re not eligible for adult mental health services your CAMHS team should talk to you about other options, this might include:</p>
                    <ul>
                      <li>local and national voluntary or community organisations that offer support </li>
                      <li>ways to help you manage your mental health yourself (self-management)</li>
                      <li>who to contact in a crisis, or if you need urgent support</li>
                    </ul>
                    <p>If things change and you feel you need more support you can get in touch with adult mental health services through your GP or self-referral. <a href=\"https://www.nhs.uk/nhs-services/mental-health-services/\" title=\"NHS- Mental health services\">Find out more about mental health services</a>.</p>
                    <p>If you still cannot get the support you need, then there are people who may be able to speak up for you or give you advice. This is called advocacy or being an advocate. </p>
                    <p>You can find out more about advocacy from:</p>
                    <ul>
                      <li><a href=\"https://www.mind.org.uk/information-support/guides-to-support-and-services/advocacy/what-is-advocacy/\" title=\"Mind - Advocacy in mental health\">Mind</a> – a mental health charity providing information and support</li>
                      <li>Patients advice and liaison services <a href=\"https://www.nhs.uk/nhs-services/hospitals/what-is-pals-patient-advice-and-liaison-service/\" title=\"NHS- Patients advice and liaison services\">(PALS)</a>  - an NHS service providing confidential advice and support which you can contact through your local hospital</li>
                    </ul>
                    <p>You can also do your own research into other services. <a href=\"https://www.mind.org.uk/information-support/drugs-and-treatments/talking-therapy-and-counselling/how-to-find-a-therapist/#CharityAndThirdSectorTherapists\" title=\"Mind - Charity and third sector therapists\">Mind have more information about getting support from through charities</a>.</p>
                    "
                  }) }}
                </section>
              </div>
              {% include "includes/mini-step-nav.html" %}
      <!-- End of content -->
    </div>
  </div>
{% endblock %}
