<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set base_path = "../../" %}
{% set parent_page_title = "Steps for getting help" %}
{% set page_title = "Moving on" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "/",
        text: "Mental health support for children and young people"
      }
    ],
    href: "/steps-for-getting-help",
    text: "Steps for getting help"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ page_title }}
      <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">Getting help from the NHS</span>-->
    </h1>
    <p><b>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</b></p>
    <p>Dolorem eum fugiat quo voluptas nulla pariatur:</p>
    <ul>
      <li>List</li>
      <li>List</li>
      <li>List</li>
    </ul>
    <p>Paragraph</p>
        <div>
          <section>
            <h2>Heading 2</h2>
            <p>Paragraph</p>
            <p>Paragraph</p>

            <!-- 1st task -->
            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "Expander heading",
                "HTML": "
                <p>Paragraph.</p>
                <p>Paragraph.</p>
                <p><a href=\"xxx\" title=\"link title \">Link text</a>, paragraph.</p>
                "
              }) }}

              <!-- 2nd task -->
              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Expander heading",
                  "HTML": "
                  <p>Paragraph:</p>
                  <ul>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                  </ul>
                  <p><a href=\"xxx\" title=\"link title\">Link text.</a></p>
                  "
                }) }}


                <!-- 3rd task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph:</p>
                    <ul>
                      <li>List</li>
                      <li>List</li>
                      <li>List</li>
                      <li>List</li>
                    </ul>
                    <p>Paragraph.</p>
                    "
                  }) }}
                <!-- 4th task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph.</p>
                    <p>Paragraph<a href=\"xxx\" title=\"title text\">Link text</a></p>
                    "
                  }) }}

                  <!-- 5th task -->
                  {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p>Paragraph <a href=\"xxx\" title=\"link title\">Link text</a></p>
                    "
                  }) }}
                </section>
                <hr />
                <section>
                  <h2>Heading 2</h2>
                  <p>Paragraph</p>
                  <p>Paragraph</p>
                  <!-- 1st task -->
                  {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph</p>
                    <p>Paragraph:</p>
                    <ul>
                      <li>List</li>
                      <li>List</li>
                      <li>List</li>
                    </ul>
                    "
                  }) }}
                  <!-- 2nd task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph.</p>
                    <p>Paragraph:</p>
                    <ul>
                      <li>List</li>
                      <li>List.</li>
                    </ul>
                    <p>Paragraph.</p>
                    "
                  }) }}
                  <!-- 3rd task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    "
                  }) }}
                  <!-- 4th task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p><a href=\"xxx\" title=\"link title\">Link text</a></p>
                    "
                  }) }}
                  <!-- 5th task -->
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph:</p>
                    <ul>
                      <li>List</li>
                      <li>List</li>
                      <li>List</li>
                    </ul>
                    <p>Paragraph. <a href=\"xxx\" title=\"link text\">link text</a>.</p>
                    <p>Paragraph. </p>
                    <p>Paragraph:</p>
                    <ul>
                      <li><a href=\"xxx\" title=\"xxx\">link text</a> – list</li>
                      <li>list <a href=\"xxx\" title=\"title text\">link text</a>  - list</li>
                    </ul>
                    <p>Paragraph. <a href=\"xxx\" title=\"title text\">link text</a>.</p>
                    "
                  }) }}
                </section>
              </div>
              {% include "includes/mini-step-nav.html" %}
      <!-- End of content -->
    </div>
  </div>
{% endblock %}
