<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_minihub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "#",
    text: "Mental health services for young people"

    }) }}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Mental health services for children and young people</h1>
{% from 'contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "/overview",
      text: "Overview"
    },
    {
      href: "/nhs-services",
      text: "NHS services",
      current: "true"
    },
    {
      href: "#",
      text: "Non-NHS services"
    }
    ,
    {
      href: "#",
      text: "Support for parents"
    }
  ]
}) }}


    <h2>Overview</h2>
    <p class="nhsuk-lede-text">
      Lead text</p>

      <div>

        <h3>Heading for steps</h3>

        <p><em>[NHS steps component goes here and will include:]</em></p>
        <ul>
          <li><a href="/referrals">Referrals</a></li>
          <li>Triage</li>
          <li>Appointment</li>
          <li>Treatment</li>
          <li>Transfer out to adult services</li>
        </ul>

      </div>

      <div>

        waiting card goes here

      </div>

      {% from 'card/macro.njk' import card %}
      {{ card({
          "type": "urgent",
          "heading": "Find a local NHS urgent mental health helpline",
          "descriptionHtml": "
          <p>If you or a loved one are struggling and facing a mental health crisis, you can call your local NHS urgent mental health helpline any time of day or night.</p>
          "
        }) }}

        {% from 'pagination/macro.njk' import pagination %}

        {{ pagination({
          "previousUrl": "/overview",
          "previousPage": "Overview",
          "nextUrl": "#",
          "nextPage": "Non-NHS Services"
        }) }}


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
