<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_minihub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/overview",
    text: "Mental health services and support for children and young people"

    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Charity and other services
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health services and support for children and young people</span>
    </h1>

{% from 'contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "/overview",
      text: "Overview"
    },
    {
      href: "/nhs-services",
      text: "NHS services"
    },
    {
      href: "/non-nhs-services",
      text: "Charity and other services",
      current: "true"
    }
    ,
    {
      href: "javascript: void(0)",
      text: "Information for parents and carers"
    }

  ]
}) }}

  <p><b>As well as NHS services there are lots of other organisations for children and young people that provide information and services to help you manage your thoughts and feelings (your mental health).</b></p>


  {% from 'card/macro.njk' import card %}
  {{ card({
      "type": "urgent",
      "heading": "Get urgent help for mental health",
      "descriptionHtml": "
      <p>There are local urgent mental health helplines available to support you or a loved one if you need urgent support for your mental health</p>
      "
    }) }}

    <div>
      <section>
        <h2>Talking to someone</h2>
        <p>Although it can be scary or difficult to talk to someone about how you are feeling, it can help you work out what help you need and understand that you’re not alone.</p>

        <h3>Counselling and online professional support</h3>
        <p>These organisations provide support from counsellors and other people trained to support children and young people.</p>
        <p><a href="https://www.childline.org.uk" title="Childline website">ChildLine</a> provides a confidential telephone and online counselling service for anyone under 19 with a problem. You can:</p>
        <ul>
          <li>call 0800 1111 any time for free</li>
          <li>have an <a href="https://www.childline.org.uk/get-support/1-2-1-counsellor-chat/" title="Childline - Chat with a counsellor online page">online chat with a counsellor</a></li>
        </ul>
        <p><a href="https://www.themix.org.uk"  title="The Mix website">The Mix</a> provides a free confidential telephone helpline and online service for anyone under 25 that aims to find young people the best help, whatever the problem. You can:</p>
        <ul>
          <li>call 0808 808 4994 for free – lines are open from 11am to 11pm every day</li>
          <li><a href="https://www.themix.org.uk/get-support/speak-to-our-team/email-us" title="Email The Mix on their website">email question to The Mix</a></li>
          <li><a href="https://www.themix.org.uk/get-support/speak-to-our-team/the-mix-counselling-service" title="The Mix councelling swervice web page">get counselling</a></li>
        </ul>
        <p><a href="https://www.kooth.com" title="The Kooth website">Kooth</a> is a free, safe and anonymous online mental wellbeing community where you can message or live chat with their support team.</p>

        <h3>Connecting with others </h3>
        <p>If you’re struggling with mental health issues, it can help to know you’re not alone and find out how other people manage similar thoughts and feelings.</p>
        <p>These organisations provide safe ways for you to get in touch with other young people or read more about other people’s experiences.</p>
        <ul>
          <li>You can visit <a href="https://www.childline.org.uk/get-support/message-boards/" title="Childline's website message boards">Childline’s message boards</a> to ask questions and share experiences</li>
          <li><a href="https://www.themix.org.uk/get-support" title="Get support on The Mix website">The Mix has online group chats and discussion boards</a></li>
          <li><a href="https://www.kooth.com" title="The Kooth website">Kooth has active and supportive discussion boards</a></li>
          <li>You can read other people’s stories on the <a href="https://www.youngminds.org.uk/young-person/blog/" title="Real Stories On Mental Health From Young People on the YoungMinds website">Young Minds website</a></li>
        </ul>
      </section>

      <section>
        <h2>Get information and tools to help yourself</h2>
        <p>It can help to find out more about how are you are feeling and things you can do yourself to help feel better. </p>
        <ul>
          <li><a href="https://www.nhs.uk/every-mind-matters/" title="NHS Every mind matters">Every Mind Matters</a> provides information and support, including tips on how to improve your mental wellbeing. <a href="https://www.nhs.uk/every-mind-matters/mental-wellbeing-tips/youth-mental-health/#videos" title="Self care videos on NHS Every mind matters">Including self-care tips videos for young people</a>.</li>
          <li><a href="https://www.youngminds.org.uk/young-person/find-help" title="Find help on the YoungMinds website">YoungMinds</a> has a wealth of self-help resources on their website, as well as providing dedicated crisis services.</li>
          <li><a href="https://www.annafreud.org/on-my-mind/" title="On My Mind | Resources for Young People | Anna Freud Centre">The Anna Freud Centre’s On My Mind</a> has a self-care hub for young people.</li>
          <li><a href="https://bestforyou.orcha.co.uk" title="NHS Best for you website">Best for you</a> is on online resources for finding useful mental health apps</li>
        </ul>
        </section>
        <section>
          <h2>Find local services </h2>
          <p>There are a several online tools that can help you find services near to where you live. These are:</p>
          <ul>
            <li><a href="" title=""></a></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
      </section>
      <section>
        <h2>Further support for children and young people</h2>

        <h3>Papyrus</h3>
        <p></p>
        <ul>
          <li><a href="" title=""></a></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h3>Samaritans</h3>
        <p></p>
        <ul>
          <li><a href="" title=""></a></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h3>SHOUT</h3>
        <p></p>
        <ul>
          <li><a href="" title=""></a></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <h3>BEAT</h3>
        <p></p>
        <p></p>
        <p></p>
        <ul>
          <li><a href="" title=""></a></li>
          <li></li>
        </ul>
        <p></p>
        <ul>
          <li></li>
          <li></li>
        </ul>


        <h3>RCPSYCH</h3>
        <p></p>


      </section>
    </div>


        {% from 'pagination/macro.njk' import pagination %}

        {{ pagination({
          "previousUrl": "/nhs-services",
          "previousPage": "NHS services",
          "nextUrl": "javascript: void(0)",
          "nextPage": "Information for parents and carers"
        }) }}


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
