<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_minihub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/overview",
    text: "Mental health services and support for children and young people"

    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Charity and other services
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health services and support for children and young people</span>
    </h1>

{% from 'contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "/overview",
      text: "Overview"
    },
    {
      href: "/nhs-services",
      text: "NHS services"
    },
    {
      href: "/non-nhs-services",
      text: "Charity and other services",
      current: "true"
    }
    ,
    {
      href: "javascript: void(0)",
      text: "Information for parents and carers"
    }

  ]
}) }}

  <p><b>lead text</b></p>


  {% from 'card/macro.njk' import card %}
  {{ card({
      "type": "urgent",
      "heading": "Get urgent help for mental health",
      "descriptionHtml": "
      <p>There are local urgent mental health helplines available to support you or a loved one if you need urgent support for your mental health</p>
      "
    }) }}







        {% from 'pagination/macro.njk' import pagination %}

        {{ pagination({
          "previousUrl": "/nhs-services",
          "previousPage": "NHS services",
          "nextUrl": "javascript: void(0)",
          "nextPage": "Information for parents and carers"
        }) }}


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
