<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_minihub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "#",
    text: "Mental health services for children and young people"

    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Overview
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health services for children and young people</span>
    </h1>

{% from 'contents-list/macro.njk' import contentsList %}

{{ contentsList({
  items: [
    {
      href: "#",
      text: "Overview",
      current: "true"
    },
    {
      href: "/nhs-services",
      text: "NHS mental health services for children and young people"
    },
    {
      href: "/non-nhs-services",
      text: "Charity and other mental health services"
    }
    ,
    {
      href: "/support-for-parents",
      text: "Information and support for parents and carers"
    }

  ]
}) }}



<p><b>If you are a child or young person and think you might need help or treatment for how you are feeling (your mental health) the NHS provides services that can help. There are also lots of charities and organisation you can go to for support.</b></p>
<p><b>If you are a parent or carer of a child or young person who needs support, you can read more here about what help is available to them and how to help them access it.</b></p>


<h2>Get urgent help for mental health</h2>

<p>There are local urgent mental health helplines available to support you or a loved one if you need urgent support for your mental health</p>

<h3>Children and young people’s mental health services (CYPMHS)</h3>
<p>Children and young people’s mental health services (CYPMHS) are NHS services available to people under 18 who need professional support to help manage how they are feeling. You may also hear them called children and adolescent mental health services (CAMHS). They usually offer a range of services including talking therapies, family therapy and medication.</p>

<h3>Charity and other mental health support for children and young people</h3>
<p>Mental health charities and support organisations provide a wide range of services – from helplines and counselling to advocacy, information and self-help resources.</p>

<h3>Information and support for parents and carers</h3>
<p>Find about more about what you can do to support a child or young person to get the help they need. And how you can support yourself.</p>
<!--{% from 'card/macro.njk' import card %}
{{ card({
    "type": "urgent",
    "heading": "Get urgent help for mental health",
    "descriptionHtml": "
    <p>There are local urgent mental health helplines available to support you or a loved one if you need urgent support for your mental health.</p>
    "
  }) }}-->






        {% from 'pagination/macro.njk' import pagination %}

        {{ pagination({
          "previousUrl": "#",
          "previousPage": "",
          "nextUrl": "/nhs-services",
          "nextPage": "NHS mental health services for children and young people"
        }) }}


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
