<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
<!--{% set base_path = "../../" %}-->
{% set topic_title = "Mental health support for children and young people" %}
{% set page_title = "Overview" %}
{% set page_link = "Overview" %}

<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/overview",
    text: "Mental health support for children and young people"

    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      [Page title is {{page_title}}] Overview
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ topic_title }}</span>
    </h1>


<p><b>If you’re under 18 and think you might need help for how you are feeling (your mental health) there are NHS services that can help. There are also lots of charities and organisation that you can go to for support. </b></p>
<p>There are also lots of charities and organisation that you can go to for support.</p>
<p>If you’re a parent or carer, you can read more here about the help available to children and young people, and how they can access it. You can also find out what support is available to you.</p>

{% include "includes/urgent-care-card.html" %}



<h2>Getting help on the NHS</h2>
<p>Children and young people’s mental health services (CYPMHS) are NHS services available for people under 18 who need professional help to manage how they are feeling. You might also hear them called children and adolescent mental health services (CAMHS). They usually offer a range of support including talking therapies such as counselling, family therapy and medicines.</p>
<p><a href="/nhs-services" title="">Read more about NHS services</a></p>

<h2>Other types of help and support</h2>
<p>Mental health charities and support organisations provide a wide range of services – from helplines and counselling to advocacy, information and self-help resources.</p>
<p><a href="/non-nhs-services" title="">Read more about support from charities and other services</a></p>

<h2>What can I do as a parent or carer?</h2>
<p>Find out what you can do to support a child or young person to get the help they need.  And how to support yourself.</p>
<p><a href="/support-for-parents" title="">Read more information for parents and carers</a></p>


{% include "includes/sub-topic-nav.html" %}



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
