<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_minihub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      },
      {
        href: "/overview",
        text: "Mental health services for young people"
      }
    ],
    href: "#",
    text: "Referrals"

    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Getting a referral to children and young people’s mental health services
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health services for children and young people</span>
    </h1>

    <p><b>The first step to getting professional support is usually getting a referral from a professional such as a GP, teacher or social worker.</b></p>
    <p><b>A referral is when someone puts you in contact with a specialist service that can offer you help, support and treatment.</b></p>
    <p><b>For some services you may also be able to refer yourself - or your child if you are parent or carer.</b></p>
    <p><b>Here are some steps you can take to try and get the right support for you</b></p>

    {% from 'card/macro.njk' import card %}
    {{ card({
        "type": "urgent",
        "heading": "Get urgent help for mental health",
        "descriptionHtml": "
        <p>There are local urgent mental health helplines available to support you or a loved one if you need urgent support for your mental health</p>
        "
      }) }}
        <div>
          <section>
            <h2>Feels like we need a heading here</h2>

            <!-- 1st task -->
            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "Speak to your GP",
                "HTML": "
                <p>Your GP can talk to you about what options are available to you locally and refer you to your local children and adolescent mental health services (CAMHS). </p>
                <p>Before speaking to your GP, it can be a good idea to think about what to say and write this down to take with you.</p>
                <p>Make sure tell your GP as much information as you can about how you’ve been feeling, and for how long. Be honest. This can be difficult, but it’s really important. This will help your GP get a better idea of the support you need.</p>
                <p>Speaking to your GP about your mental health can seem daunting but they are there to help and listen. <a href=\"https://www.youngminds.org.uk/young-person/your-guide-to-support/how-to-speak-to-your-gp/\" title=\"Young Minds website\">Young Minds have more information about how to speak to your GP about your mental health.</a></p>
                <p>If you are under 16, you may need your parent or carer’s consent to be referred.</p>

                <div class=\"nhsuk-action-link\">
                <a class=\"nhsuk-action-link__link\" href=\"https://www.nhs.uk/service-search/find-a-gp\">
                  <svg class=\"nhsuk-icon nhsuk-icon__arrow-right-circle\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" aria-hidden=\"true\" width=\"36\" height=\"36\">
                    <path d=\"M0 0h24v24H0z\" fill=\"none\"></path>
                    <path d=\"M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z\"></path>
                  </svg>
                  <span class=\"nhsuk-action-link__text\">Find your local GP</span>
                </a>
              </div>
                "
              }) }}


              <!-- 2nd task -->
              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Find out who else can refer you – or if you can refer yourself",
                  "HTML": "
                  <p>Other professional like teachers, school workers and social workers can also refer you to children and young people’s mental health services. </p>
                  <p>You may also be able to refer yourself or your child.</p>
                  <p>To find out if you can refer yourself to a service you’ll need to contact your local children and adolescent mental health services (CAMHS). They will have a website, which you can find by searching online for ‘CAMHS’ and the county or town you live in, for example ‘CAMHS Kent’.</p>
                  "
                }) }}


                <!-- 3rd task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Ask when you’re likely to hear from the service",
                    "HTML": "
                    <p>You should be told this but, if not, it can be helpful to ask so that you know what to expect.</p>
                    <p>There is likely to be a waiting list, and this may differ depending on the area that you live in. There is usually a short wait to be contacted for an initial assessment but there may be a longer wait before you start receiving support.</p>
                    <p>This can be frustrating, especially if you feel you need support sooner but there are things you can do to help yourself in the meantime.</p>
                    <p>Read more below about looking after yourself while you’re waiting for support.</p>
                    "
                  }) }}
                  <!-- 4th task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Look after yourself while you’re waiting for support",
                    "HTML": "
                    <p>If there is going to be a long wait for support make sure that you’ve got people around you that you can talk to who are aware that you are experiencing difficulties.</p>
                    <p>Self-care options can be helpful to help you try to manage your difficulties whilst you wait to be seen.</p>
                    <p>The charity the <a href=\"https://www.annafreud.org/on-my-mind/self-care/\">Anna Freud Centre lots of ideas for self-care to help you try and feel better</a>.</p>
                    <p>There are also lots of charities that provide direct support such as counselling and helplines. Read more about charity and other mental health support for children and young people.</p>
                    <p>If your situation changes or deteriorates, then you should go back to the service to let them know what has changed as this may change the amount of time you have to wait to be seen.</p>
                    <p>You can also <a href=\"#\">get urgent help if you need it</a>.</p>
                    "
                  }) }}

                </section>
                <section>
                  <p></p>
                    <!-- can't task -->
                    <h2>What to do if you’re having difficulty accessing professional support</h2>


                    {{ insetText({
                      "HTML": "
                      <p>If you can’t get a referral from your GP, you could try asking another GP or finding out who else can refer you (see above). It may be useful to know the <a href=\"#\" title=\"\">criteria that GPs use to refer children and young people to specialist services</a>.</p>
                      <p>If you’ve been referred but have not been offered support after an initial assessment, this can feel disappointing and frustrating.</p>
                      <p>Just because this particular service wasn’t able to help doesn’t mean there isn’t another one that can.</p>
                      <p>Go back to your referrer and discuss other options with them. It will help if you have a record of why the service have said they can’t help, even if it’s just a few notes.</p>
                      <p>You can also do your own research for other services – Anna Freud’s <a href=\"https://www.annafreud.org/on-my-mind/youth-wellbeing/\">Youth Wellbeing Directory</a> might be a good starting point.</p>
                      <p>If you’ve tried all ways of being referred to mental health services without success <a href=\"https://www.mind.org.uk/information-support/guides-to-support-and-services/advocacy/what-is-advocacy/\">Mind</a> or <a href=\"https://www.nhs.uk/nhs-services/hospitals/what-is-pals-patient-advice-and-liaison-service/\">PALS</a> may be able to advocate for you and help you get the support you need.</p>
                      "
                    }) }}
                    {% from 'inset-text/macro.njk' import insetText %}

                </section>
              </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
