<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set base_path = "../../" %}
{% set parent_page_title = "Steps for getting help" %}
{% set page_title = "Seeking help - what you need to do" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "/",
        text: "Mental health support for children and young people"
      }
    ],
    href: "/steps-for-getting-help",
    text: "Steps for getting help"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ page_title }}
      <!--Getting a referral-->
      <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">Steps for getting help</span>-->
    </h1>

    <p><b>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</b></p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div>
          <section>

            <!-- 1st task -->
            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "Expander heading",
                "HTML": "
                <h3>Heading 3</h3>
                <p>Paragragh</p>
                <p>Paragragh</p>
                <p>Paragragh:</p>
                <ul>
                  <li>List</li>
                  <li>List</li>
                  <li>List</li>
                </ul>
                <p>Paragragh</p>
                <p>Paragragh</p>
                <p><a href=\"xxx/\" title=\"link title\">Link text</a></p>
                <h3>Heading 3</h3>
                <p>Paragraph</p>
                <p><a href=\"xxx\" title=\"Link title\">Link text</a></p>
                <div class=\"nhsuk-action-link\">
                  <a class=\"nhsuk-action-link__link\" href=\"https://www.nhs.uk/service-search/find-a-gp\">
                    <svg class=\"nhsuk-icon nhsuk-icon__arrow-right-circle\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" aria-hidden=\"true\" width=\"36\" height=\"36\">
                      <path d=\"M0 0h24v24H0z\" fill=\"none\"></path>
                      <path d=\"M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z\"></path>
                    </svg>
                    <span class=\"nhsuk-action-link__text\">Find a GP</span>
                  </a>
                </div>
                "
              }) }}


              <!-- 2nd task -->
              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Expander heading",
                  "HTML": "
                  <p>Paragraph</p>
                  <h3>Heading 3</h3>
                  <p>Paragraph.</p>
                  <p>Paragraph.</p>
                  <p>Paragraph.</p>
                  <p>Paragraph.</p>
                  <p>Paragraph:</p>
                  <ul>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                  </ul>
                  <p>Paragraph.</p>
                  <h3>Heading 3</h3>
                  <p>Paragraph:</p>
                  <ul>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                    <li>List</li>
                  </ul>
                  "
                }) }}


                <!-- 3rd task -->
                {% from 'details/macro.njk' import details %}
                  {{ details({
                    "classes": "nhsuk-expander",
                    "text": "Expander heading",
                    "HTML": "
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p>Paragraph.</p>
                    <p>Paragraph <a href=\"/xxx\" title=\"Link title\">Link text</a>.</p>
                    <p>Paragraph.</p>
                    "
                  }) }}

                  <!-- 4th task -->
                  {% from 'details/macro.njk' import details %}
                    {{ details({
                      "classes": "nhsuk-expander",
                      "text": "Expander heading",
                      "HTML": "
                    <p>Paragraph</p>
                    <p>Paragraph <a href=\"/xxx\" title=\"Link title\">Link text</a>.</p>
                    <p>Paragraph <a href=\"xxx\">Link text</a>.</p>
                    <p>Paragraph</p>
                    <p>Paragraph <a href=\"xxx\">Link text</a> and <a href=\"xxx\" title=\"Link title\">Link text</a> Paragraph.</p>
                    "
                  }) }}

                  {% from 'details/macro.njk' import details %}
                    {{ details({
                      "classes": "nhsuk-expander",
                      "text": "Expander heading",
                      "HTML": "
                      <p>Paragraph.</p>
                      <p>Paragraph.</p>
                      <p>Paragraph.</p>
                      <p>Paragraph.</p>
                      <p>Paragraph:</p>
                      <ul>
                        <li><a href=\"xxx/\" title=\"Link title\">Link text</a> – List text.</li>
                        <li>Patients advice and liaison services <a href=\"xxx\" title=\"Link title\">Link text</a>  - List text.</li>
                      </ul>
                      <p>Paragraph. </p>
                      <ul>
                        <li>There is a <a href=\"xxx\" title=\"Link title\">Link text</a> List text.</li>
                        <li><a href=\"xxx\" title=\"Link title\">Link text</a> List text</li>
                      </ul>
                    "
                  }) }}

                </section>
              </div>
              {% include "includes/mini-step-nav.html" %}

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
