<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_sub-topic.html' %}
{% set parent_page_title = "Mental health support for children and young people" %}
{% set page_title = "Steps for getting help" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/",
    text: "Mental health support for children and young people"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ page_title }}
      <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health support for children and young people</span>-->
    </h1>
    <p><b>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</b></p>
    <p> quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</p>
    {% include "includes/urgent-care-card.html" %}
  <div>
    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
    <!-- step 1 -->
          <li class="app-step-nav__step js-step" id="seeking" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Seeking help - what you need to do
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="seeking-1">
              <div class="app-step-nav__paragraph">
                <p class="app-step-nav__paragraph"><p>
                <p class="app-step-nav__paragraph"><a href="/seeking-help">Find out more about seeking help</a></p>
              </div>
            </div>
          </li>
    <!-- step 2-->
          <li class="app-step-nav__step js-step" id="having" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Having a conversation with a mental health professional
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="having-2">
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"><a href="/having-a-conversation">Read more about having a conversation</a></p>
            </div>
          </li>

          <!-- step 3 -->
          <li class="app-step-nav__step js-step" id="getting" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Getting advice and help for your needs
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="getting-3">
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"><a href="/getting-advice">Find out more about getting advice and help</a></p>
            </div>
          </li>

          <!-- step 4 -->
          <li class="app-step-nav__step js-step" id="waiting" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Waiting for help
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="waiting-4">
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"></p>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <p class="app-step-nav__paragraph"><a href="/waiting-for-help" title="Waiting for help">Find out more about waiting for help</a></p>
              <!--<p class="app-step-nav__paragraph"><a href="/charities-and-other-services" title="non nhs services">Find you what support is available from charities</a> or <a href="https://www.nhs.uk/nhs-services/mental-health-services/where-to-get-urgent-help-for-mental-health/" title="Find out where to get urgent help">get urgent help</a>.</p>-->
            </div>
          </li>


          <!-- step 5 -->
          <li class="app-step-nav__step js-step" id="moving" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="nhsuk-u-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Moving on
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel js-hidden" id="moving-5">
              <p class="app-step-nav__paragraph"></p>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <p class="app-step-nav__paragraph"></p>
              <p class="app-step-nav__paragraph"><a href="/moving-on">Find out more about moving on from CAMHS</a></p>
            </div>
          </li>

        </ol>
      </div>
    </div>


{% include "includes/sub-topic-nav.html" %}
  </div>
</div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
