<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout_minihub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

    {% from 'breadcrumb/macro.njk' import breadcrumb %}
    {{ breadcrumb({
    items: [
      {
        href: "https://www.nhs.uk",
        text: "Home"
      },
      {
        href: "https://www.nhs.uk/mental-health/",
        text: "Mental health"
      }
    ],
    href: "/overview",
    text: "Mental health support for children and young people"

    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Information for parents and carers
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Mental health support for children and young people</span>
    </h1>
    {% from 'contents-list/macro.njk' import contentsList %}

    {{ contentsList({
      items: [
        {
          href: "/overview",
          text: "Overview"
        },
        {
          href: "/nhs-services",
          text: "NHS services"
        },
        {
          href: "/non-nhs-services",
          text: "Charity and other services"
        }
        ,
        {
          href: "/support-for-parents",
          text: "Information for parents and carers",
          current: "true"
        }

      ]
    }) }}

    <p><b>If you’re worried about the mental health of a child or young person, it can be hard to know what to do to help them. You may also feel like you need support for yourself. </b></p>
    <p><b>You’re not alone and there are places both you and your child can turn to for help.</b></p>
    {% include "includes/urgent-care-card.html" %}
    <div>

      <section>
        {% from 'details/macro.njk' import details %}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "Understanding how a child or young person is feeling",
            "HTML": "
            <p>It can be a good idea to find out more about how a child or young person might be feeling. This can help you to know how best to help them, or help them find ways to support themselves.</P>
            <p>You can read more about how a child or young person might be feeling in <a href=\"https://www.nhs.uk/mental-health/children-and-young-adults/advice-for-parents/\" title=\"NHS advice for parents\">our advice for parents</a> or read more about <a href=\"https://www.nhs.uk/mental-health/conditions/\" title =\"NHS mental health conditions\">mental health conditions</a>.</p>
            <p>The charity <a href=\"https://www.youngminds.org.uk/parent/\" title=\"Young Minds parents' page\">YoungMinds</a> also has lots of information for parents including an A-Z guide for parents and a Parents survival guide.</p>
            "
          }) }}

          {% from 'details/macro.njk' import details %}
            {{ details({
              "classes": "nhsuk-expander",
              "text": "When to seek professional help",
              "HTML": "
              <p>There's a difference between feeling a low from time to time and a serious emotional health problem.</p>
              <p>If your child is feeling unhappy and low for a prolonged period of time, or if you have any other serious concerns about your child or young person, you may want to seek more professional help.</p>
              "
            }) }}

            {% from 'details/macro.njk' import details %}
              {{ details({
                "classes": "nhsuk-expander",
                "text": "Getting a child or young person help from the NHS",
                "HTML": "
                <p>Children and young people’s mental health services (CYPMHS) are NHS services to help people under 18 who are struggling with their mental health. You may also hear these called children and adolescent mental health services (CAMHS).</p>
                <p>They cover a range or mental health issues and provide treatment such as talking therapies, family therapy and medicines.</p>
                <p>A child or young person under 16 will usually need consent from a parent or carer to get help from these services. </p>
                <p><a href=\"/nhs-services\" title=\"NHS Mental health services and support for children and young people\">Find out how your child or young person can get help from NHS mental health services</a>.</p>
                "
              }) }}

              {% from 'details/macro.njk' import details %}
                {{ details({
                  "classes": "nhsuk-expander",
                  "text": "Sources of support and information",
                  "HTML": "
                  <h3>YoungMinds</h3>
                  <p><a href=\"https://www.youngminds.org.uk\" title=\"YoungMinds website\">YoungMinds</a> offers free confidential online and telephone support to anyone worried about the emotional and mental wellbeing of a child or young person up to the age of 25.</p>
                  <ul>
                    <li>call the free parents' helpine on 0808 802 5544 from 9.30am to 4pm, Monday to Friday</lI>
                    <li>email <a href=\"mailto:parents@youngminds.org.uk\" title=\"email YoungMinds\">parents@youngminds.org.uk</a> and YoungMinds will respond to your query within 3 working days</li>
                  </ul>
                  <p>The charity also has <a href=\"https://www.youngminds.org.uk/parent\" title=\"information for parents and carers on the YoungMinds website\">information for parents and carers about mental health</a>.</p>

                  <h3>MindEd for families</h3>
                  <p><a href=\"https://mindedforfamilies.org.uk\" title=\"MindEd for families website\">MindEd for families</a> is a branch of MindEd, intended to support parents and those caring for children and young people.</p>
                  <p>MindEd is an online e-portal offering free, simple advice about children and young people's mental health for all adults.</p>

                  <h3>Royal College of Psychiatrists</h3>
                  <p>You can also find out more by exploring the <a href=\"https://www.rcpsych.ac.uk/mental-health/parents-and-young-people\" title=\"Royal College of Psychiatrists website\">Royal College of Psychiatrists' information for parents and young people</a>.</p>
                  <p>These include mental health information tailored for young people, parents, teachers and carers.</p>
                  "
                }) }}



      </section>
    </div>



        {% from 'pagination/macro.njk' import pagination %}

        {{ pagination({
          "previousUrl": "/non-nhs-services",
          "previousPage": "Charity and other services",
          "nextUrl": "",
          "nextPage": ""
        }) }}


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
